@tailwind base;
@tailwind components;

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.owl-nav {
    position: absolute;
    left: 20px;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.523);
    display: block;
    padding: 10px 10px 15px 10px !important;
    font-size: 3em;
    margin: 0;
    cursor: pointer;
    color: #fff;
    transform: translate(-50%, -50%);
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot.owl-nav {
    position: absolute;
    right: -23px;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.523);
    display: block ;
    padding: 10px 10px 15px 10px !important;
    font-size: 3em ;
    margin: 0;
    cursor: pointer;
    color: #fff;
    transform: translate(-50%, -50%);
}

.gradient{
    @apply w-[100%] h-[100%] bg-black absolute opacity-55;
}

.item{
    @apply bg-black text-white;
}

.item1{
    grid-row-start: span 2;
    grid-column-start: span 2; 
}

.editor-canvas{
    content: "";
    display: table;
    clear: both;
}

@tailwind utilities;